.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    border-top: 1px solid #444;
    width: 100%;
    height: 100px;
}

.social-links {
    display: flex;
    gap: 15px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.impressum {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.highlighted-link {
    color: #f7b731;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.1rem;
}

.highlighted-link:hover {
    text-decoration: underline;
}

.contact-info {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-info p {
    margin: 0;
    font-size: 0.9rem;
    color: #ccc;
}

.contact-info p + p {
    margin-top: 5px;
}